<app-page-header
  [showSmallHeader]="true"
  [showGoBackButton]="false"
  [title]="pageTitle"
></app-page-header>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">

      <div class="card card-header-actions mb-4">
        <div class="card-header" >
          New Topic
        </div>

        <div class="card-body" style="min-height: 500px;">
          <form [formGroup]="topicForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
              <!-- Name -->
              <div class="form-group col-md-6 col-sm-12">
                <label class="small mb-1" for="name">Name</label>
                <input class="form-control" id="name" type="text" placeholder="Enter the name" formControlName="name" required />
                <div class="invalid-input" *ngIf="name.invalid && (name.dirty || name.touched)">
                  <span *ngIf="name.errors?.['required']">Please provide a name.</span>
                </div>
              </div>

              <!-- Description -->
              <div class="form-group col-md-6 col-sm-12">
                <label class="small mb-1" for="description">Description</label>
                <input class="form-control" id="description" type="text" placeholder="Enter the description" formControlName="description" />
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6 col-sm-12">
                <label for="space">Space</label>
                <select class="form-control" id="space" formControlName="spaceId" (change)="changedSpace($event)" style="padding: 0.6rem 1.125rem;">
                  <option value="" disabled>Choose a Space</option>
                  <option *ngFor="let space of spacesList" [ngValue]="space.id">{{ space.name }}</option>
                </select>

                <div class="invalid-input" *ngIf="spaceId.invalid && (spaceId.dirty || spaceId.touched)">
                  <span *ngIf="spaceId.errors?.['required']">Please choose the Space.</span>
                </div>
              </div>
            </div>

            <button class="btn btn-success" type="submit" style="margin-right: 5px;" [disabled]="topicForm.invalid">Save</button>
            <button class="btn btn-primary" type="button" (click)="cancel()">Cancel</button>
          </form>

          <div *ngIf="newTopic != null" style="margin-top: 30px;">
            <p>
              new Topic(X, '{{ newTopic.name }}', '{{ newTopic.description }}', {{ newTopic.spaceId }}),
            </p>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
